h1 { text-align: center; margin-bottom: 2rem; }
form { width: 30rem; margin: auto; margin-top: 12rem; }
input { width: 100%; border: 0; font-size: 1.5rem; margin-bottom: 2rem; padding: 1rem; }
input:focus { background-color: #f8f8f8; }
button { display: block; margin: 1rem auto 0 auto; padding: 1rem 2rem; font-size: 1.5rem; border: 0; background-color: #52c5ff; color: white; font-weight: bold; }
button:hover { background-color: #3ea6e6; }
button:focus { background-color: #3088cf; }
.error { font-size: 1.5rem; display: block; text-align: center; margin-bottom: 1rem; color: #fc357a; }