link(rel="stylesheet", href="/stylesheets/image-new.css")

form(ng-submit="addImage()")
    h2 Add a new image
    input(placeholder="Name" ng-model="name")
    input(placeholder="URL"  ng-model="url")
    
    div.img(ng-show="url.length > 0")
        img(src="{{url}}")
    button Add image