aside.messages(ng-click="console.log(messages.messages)")
    ul.feed
        li(ng-repeat="message in messages.messages")
            time {{message.date | date:"h:mma"}} 
            a(href="api/v1/user/{{message._creator._id}}") {{(message._creator._id === user._id) ? "You" : message._creator.name }}
            span : {{message.content}}
    form(ng-submit="send()")
        textarea(ng-model="msg" placeholder="Write a message..." ng-keydown="keyDown($event)" ng-keyup="keyUp($event)")
        button Send {{messages.messages.length}}
