form(action="/api/v1/user/add" type="post")
    input(name="name"     placeholder="Name"     )
    input(name="email"    placeholder="Email"    type="text")
    input(name="password" placeholder="Password" type="password")

    button Add user