doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block css
    if (flash)
        script.
            var flash = !{flash}
    block js
  body
    include partials/header
    block content