doctype html
html(ng-app="app" ng-controller="AppController")
  head
    title(ng-bind-template="#{title} {{query}}")= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block css

    script(src="/components/angular/angular.min.js")
    script(src="/components/angular-route/angular-route.min.js")
    script(src="/components/angular-resource/angular-resource.min.js")
    script(src="/components/ng-file-upload/angular-file-upload.min.js")
    block js
    script.
        var user = !{user}
  body
    include partials/header
    block content