extends layout


block css
    link(rel="stylesheet", href="/stylesheets/login.css")

block content
    form(action="/login" method="post")
        h1 Login to Vimage
        span.error= flash.error
        input(type="text" placeholder="Username" name="email" value=flash.email autofocus)
        input(type="password" placeholder="Password" name="password")

        button Login
