extends layout

block css
    link(rel="stylesheet", href="/stylesheets/signup.css")
    
block js
    script(src="/components/angular/angular.min.js")
    script(src="/javascripts/signup.js")
block content
    div(ng-app="signup" ng-controller="signupCtrl")
        form(name="signup" ng-submit="submit();")
            h1 Signup
            span.error {{error}}
            input(type="text"     name="name"     ng-model="name"     required placeholder="Name")
            input(type="email"    name="email"    ng-model="email"    required placeholder="Email")
            input(type="password" name="password" ng-model="password" required placeholder="Password")

            button Signup!